@model PortalDeloitte.Models.UserInfo

@{
    ViewBag.Title = "Upload";
}

<h2>Upload</h2>


<div class="row">
    <div class="col-md-10" style="text-align">
        @using (Html.BeginForm("Upload", "UserInfoes", FormMethod.Post, new { @enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            <input type="file" name="File" />
            <br />
            <input type="submit" value="Upload" />
        }

    </div>
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
